{% extends "base.html" %}
{% block content %}

<div class="container" style="width: 40rem;">
  <h3 class="adaptive-fs-title" style="text-align: center;">Письмо с инструкциями по восстановлению пароля отправлено</h3><br><br><br>

  <p class="adaptive-fs">
    Мы отправили вам инструкцию по установке нового пароля
    на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).<br>
    Вы должны получить ее в ближайшее время.
  </p>
  <br>
  <p class="adaptive-fs">
    Если вы не получили письмо, пожалуйста,
    убедитесь, что вы ввели адрес с которым вы зарегистрировались,
    и проверьте папку со спамом.
  </p>
  <br>

  <div class="text-center">
    <form action="{% url 'common_pages:main' %}">
      <button type="submit" class="btn btn-outline-secondary adaptive-fs-big">На главную</button>
    </form>
  </div>

</div>

{% endblock %}