{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="container" style="width: 40rem;">
    <h3 class="adaptive-fs-title" style="text-align: center;">Отправить письмо для сброса пароля</h3><br><br>
    
    <form method="post" class="form adaptive-fs">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="hidden" name="next" value="{{ next }}">
      <br>
      {% bootstrap_button button_type="submit" content="Отправить письмо" button_class="btn btn-outline-secondary adaptive-fs" %}
    </form>

{% endblock %}